img {
    border: 2px solid #ccc; /* Borde de 2 píxeles sólido en color gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedorr */
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  